In [2]:
import pandas as pd
import seaborn as sns
from scipy.stats import mannwhitneyu
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
%matplotlib inline

In [3]:
ads_data = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-zakorko/shared/ads_data.csv.zip')

In [4]:
ads_data.head()

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29

In [6]:
df = ads_data.groupby(['ad_id','ad_cost_type','platform','event'], as_index=False)\
    .agg({'user_id':'count'})

In [7]:
df.c

   ad_id ad_cost_type platform  event  user_id
0      3          CPC  android  click        5
1      3          CPC  android   view      244
2      3          CPC      ios  click        3
3      3          CPC      ios   view      147
4      3          CPC      web  click        1